<%- include("header"); -%>

<nav class="navbar navbar-expand-sm" >
  <div class="container">
      <p class="navbar-brand" style="color: white;">DEBIT</p>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="/">HOME</a></li>
        <li class="nav-item"><a class="nav-link" href="/debit/add">ADD</a></li>
      </ul>
  </div>
</nav>


  <table class="table  table-bordered" >
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Amount</th>
        <th scope="col">Date</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>

        <%  details_in_ejs.forEach(function(i){ %>
          <tr>
            <td> <%=i.name %></td>
            <td> <%=i.amount %></td>
            <td> <%=i.date %></td>
            <td><a href="/debit/edit/<%=i.id %>">Edit</a> </td>
            <td><a href="/debit/delete/<%=i.id %>">Delete</a> </td>
          </tr>
       <%  }) %>

    </tbody>
  </table>

